# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions



# testing
/coverage
data/*
backups.db
tmp/*
smtp-test-results.json
scripts/podman_testing/data
scripts/podman_testing/.data
scripts/podman_testing/.env


# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
README_dockerhub.md

# development files
.specstory/**
*.diff
*.tmp

# documentation
documentation/node_modules
documentation/build
documentation/.docusaurus/
documentation/pnpm-lock.yaml
public/documentation

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
run.log*

# ide
.vscode/*
!.vscode/launch.json
.cursor/*
!.cursor/rules/project-rule.mdc


# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*
.env*

