# duplistatus docker-compose.yml
services:
  duplistatus:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VERSION: ${VERSION}
    image: wsj-br/duplistatus:${VERSION}
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    container_name: duplistatus
    restart: unless-stopped
    ports:
      - "9666:9666"
    volumes:
      - duplistatus_data:/app/data
    networks:
      - duplistatus_network

networks:
  duplistatus_network:
    driver: bridge

volumes:
  duplistatus_data:
    name: duplistatus_data 
    external: true
