/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 75%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-code-font-size: 75%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

table thead {
  background-color: darkslategray;
}

table thead th {
  color: lightgray;
  font-weight: bold;
}

/* Mermaid Gantt Chart Zoom */
.gantt-scaled {
  transform: scale(1.8) !important;
  transform-origin: top left;
  margin-bottom: 300px;
}

/* GitHub Alerts Styling */
.markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  border-left: 0.25rem solid;
  border-radius: 0.375rem;
}

.markdown-alert > :first-child {
  margin-top: 0;
}

.markdown-alert > :last-child {
  margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
  position: relative;
  padding-left: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.markdown-alert .markdown-alert-title:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  content: '';
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: center;
}

.markdown-alert.markdown-alert-note {
  border-left-color: #0969da;
  background-color: rgba(84, 174, 255, 0.1);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #0969da;
}

.markdown-alert.markdown-alert-note .markdown-alert-title:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%230969da' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'/%3E%3C/svg%3E");
}

.markdown-alert.markdown-alert-important {
  border-left-color: #8250df;
  background-color: rgba(130, 80, 223, 0.1);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #8250df;
}

.markdown-alert.markdown-alert-important .markdown-alert-title:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%238250df' d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM6.379 5.227Q6.352 5.157 6.285 5.09q-.073-.073-.22-.219t-.576-.803a5.96 5.96 0 0 0-.282-.46l-.004-.006a6.719 6.719 0 0 0-.088-.123l-.003-.004a5.836 5.836 0 0 0-.098-.14l-.5.5.5.5q.14-.098.14-.098l.004-.003a3.037 3.037 0 0 0 .123-.088l.006-.004a5.922 5.922 0 0 0 .46-.282q.73-.503.803-.576.073-.073.219-.22t.157-.352L6.379 5.227Zm3.554 1.5-1.5-1.5L8 6.5l-1.5-1.5-1.5 1.5L6.5 8l-1.5 1.5 1.5 1.5L8 9.5l1.5 1.5 1.5-1.5L9.5 8l1.5-1.5Z'/%3E%3C/svg%3E");
}

.markdown-alert.markdown-alert-warning {
  border-left-color: #9a6700;
  background-color: rgba(212, 167, 44, 0.1);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
}

.markdown-alert.markdown-alert-warning .markdown-alert-title:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%239a6700' d='M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'/%3E%3C/svg%3E");
}

.markdown-alert.markdown-alert-caution {
  border-left-color: #d1242f;
  background-color: rgba(248, 81, 73, 0.1);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #d1242f;
}

.markdown-alert.markdown-alert-caution .markdown-alert-title:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23d1242f' d='M4.47.22A.75.75 0 0 1 5 0h6a.75.75 0 0 1 .53.22l4.25 4.25c.141.14.22.331.22.53v6a.75.75 0 0 1-.22.53l-4.25 4.25A.75.75 0 0 1 11 16H5a.75.75 0 0 1-.53-.22L.22 11.53A.75.75 0 0 1 0 11V5a.75.75 0 0 1 .22-.53Zm.84 1.28L1.5 6.44v4.12l3.81 3.81h4.12l3.81-3.81V6.44L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v2.5a.75.75 0 0 1-1.5 0v-2.5A.75.75 0 0 1 8 4Zm0 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z'/%3E%3C/svg%3E");
}

.markdown-alert.markdown-alert-tip {
  border-left-color: #1a7f37;
  background-color: rgba(46, 160, 67, 0.1);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
}

.markdown-alert.markdown-alert-tip .markdown-alert-title:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%231a7f37' d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0Zm.93 4.97a.75.75 0 0 0-1.06-1.06L5.97 6.78 4.53 5.34a.75.75 0 0 0-1.06 1.06L4.97 7.84 3.53 9.28a.75.75 0 1 0 1.06 1.06L5.97 8.9l1.44 1.44a.75.75 0 0 0 1.06-1.06L7.03 7.84l1.44-1.44a.75.75 0 0 0 0-1.06v-.37Z'/%3E%3C/svg%3E");
}

/* Dark theme adjustments */
[data-theme='dark'] .markdown-alert.markdown-alert-note {
  background-color: rgba(84, 174, 255, 0.15);
}

[data-theme='dark'] .markdown-alert.markdown-alert-important {
  background-color: rgba(130, 80, 223, 0.15);
}

[data-theme='dark'] .markdown-alert.markdown-alert-warning {
  background-color: rgba(212, 167, 44, 0.15);
}

[data-theme='dark'] .markdown-alert.markdown-alert-caution {
  background-color: rgba(248, 81, 73, 0.15);
}

[data-theme='dark'] .markdown-alert.markdown-alert-tip {
  background-color: rgba(46, 160, 67, 0.15);
}
